<html>
	<header>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.ethers.io/scripts/ethers-v4.min.js" charset="utf-8" type="text/javascript"></script>
		<script><%- include("Components/balance.js") -%></script>
		<script><%- include("Components/oauth.js") -%></script>
	</header>
	<body>
		<h1>EpiCoin</h1>
		<p>Hello World</p>
		<div id="app">
			<balance></balance>
			<oauth></oauth>
		</div>
	</body>
	<script>
		<%- include("vue.js") -%>
	</script>
</html>